* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial,Helvetica,sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

nav
{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  top:0;
  right: 0;
  z-index: 100;
  color: white;

  ul 
  {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
    list-style-type: none;

    li 
    {
      margin: 1rem;
      
      a 
      {
        font-weight: bold;
        font-size: 1.15rem;
        color: white;
      }
    }
  }

  .navigationTitle
  {
    display: block;
    box-sizing: border-box;
    margin: 1rem;
    white-space: nowrap;
  }
}


.center-text
{
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.projectCardContainer
{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
}

.projectCard
{
  display: flex;
  list-style-type: none;
  min-width: 15rem;
  flex-grow: 1;
  min-height: 15rem;
  position: relative;
  transition: all .3s ease-in-out;

  a 
  {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }

  .overlayRoot
  {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: 0s;
  }

  h4 
  {
    visibility: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    text-shadow: 0px 0px 0.75rem #000;
    color: white;
    &.borderHoverEffect::after
    {
      transition-delay: 0.15s;
    }
  }

  .img 
  {
    position: absolute;
    top:0;
    left: 0;
    filter: blur(0);
    transition: .3s ease-in-out;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  &:hover .img
  {
    filter: blur(5px);
    opacity: 0.3;
  }

  &:hover .overlayRoot
  {
    & h4
    {
      opacity: 1;
      visibility: visible;
    }
  }

}

.borderHoverEffectParent
{
  position: relative;

  .borderHoverEffect::after
  {
    background-color: #fff;
    bottom: -7px;
    content: "";
    width: 0;
    height: 0.2rem;
    left: 0;
    position: absolute;
    transition: width .2s;
  }
  
  &:hover .borderHoverEffect::after
  {
    width: 100%;
  }
}

.landingSplash
{
  -ms-flex-line-pack: center;
  -ms-flex-pack: center;
  align-content: center;
  border-bottom: 2px solid #483d48;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 98%;
  height: 98vh;
  justify-content: center;
  min-height: 98%;
  min-height: 98vh;
  min-width: 100%;
  text-align: center;
  width: 100%;

  .header
  {
    font-size: 4rem;
  }

  .downArrow
  {
    -webkit-animation: arrowSlider 3s 1s infinite;
    animation: arrowSlider 3s 1s infinite;
    bottom: 10vh;
    font-size: 6rem;
    font-weight: 700;
    left: 50%;
    position: absolute;
    right: 50%;
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    z-index: 20;
  }
}

.viewSection
{
  display: flex;
  flex-direction: column;
  margin: 10%;
}

.projectContent
{
  a 
  {
    color: #1f66e5;
  }
  p {
    padding: 0.25rem 0rem;
  }
}

.splashAnimation
{
  -webkit-animation: backgroundAnimation 6s ease-in-out infinite;
  animation: backgroundAnimation 6s ease-in-out infinite;
  animation-duration: 6s;
  background: #1f66e5;
  background: linear-gradient(-45deg,#1f66e5,#1fc9e5,#e51fc9,#1fc9e5,#1f66e5);
  background-size: auto;
  background-size: 450% 100%;
  position: relative;
}

.mb-2
{
  margin-bottom: 2rem;
}

.mt-2
{
  margin-top: 2rem;
}

@keyframes backgroundAnimation {
  0%,
  to {
    background-position:0 50%
  }
  50% {
    background-position:100% 50%
  }
}

@keyframes arrowSlider {
  0%,
  to {
    transform:translate(0) rotate(90deg)
  }
  50% {
    transform:translateY(5vh) rotate(90deg)
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (min-width: 650px)
{
  .landingSplash
  {
    animation-duration: 10s;
  }
}